<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Title</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products/search}">Search Product</a>
      </li>
    </ul>
  </nav>
  <div class="form-wrapper-container">
    <form action="/showGraph" method="post" class="search-bar" >
      <input type="text" name="title" placeholder="Enter Product Name...">
      <button type="submit">Submit</button>
    </form>
    <div>
      <span class="custom-error-message" th:text="${err}"></span>
    </div>
  </div>
</body>
</html>