<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="graphstyle.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<title>Graph</title>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products}">Product List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products/search}">Search Product</a>
          </li>
        </ul>
      </nav>
    <div class="container">
        <h2 id="productName"></h2>
        <div class="centered-element">
            <canvas id="productChart" style="width:200%;height:200%"></canvas>
        </div>
    </div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var productsJsonString = /*[[${products}]]*/ "Products";
    console.log(productsJsonString);
    const products = JSON.parse(productsJsonString); 
    const labels = products[0].dates;
    document.getElementById("productName").innerHTML=products[0].title;
    const data = {
        labels: labels,
        datasets:[]
    };

    const config = {
        type: 'line',
        data,
        options:{
            legend:{display: true}
        }
    };

    const productChart = new Chart(
        document.getElementById("productChart"),
        config
    );

    for(let i=0;i<products.length;i++){
        addDataSet(products[i],i);
    }

    function addDataSet(productDocument, index){
        const bg = [
            'rgba(27, 158, 119, 0.5)',
            'rgba(217, 95, 2, 0.5)',
            'rgba(117, 112, 179, 0.5)',
            'rgba(231, 41, 138, 0.5)',
            'rgba(102, 166, 30, 0.5)',
            'rgba(230, 171, 2, 0.5)',
            'rgba(166, 118, 29, 0.5)',
            'rgba(102, 102, 102, 0.5)'
        ];
        const bc = [
            'rgb(27, 158, 119)',
            'rgb(217, 95, 2)',
            'rgb(117, 112, 179)',
            'rgb(231, 41, 138)',
            'rgb(102, 166, 30)',
            'rgb(230, 171, 2)',
            'rgb(166, 118, 29)',
            'rgb(102, 102, 102)'
        ];
        const newDataSet = {
            label: productDocument.website,
            data: productDocument.prices,
            backgroundColor: bg[index],
            borderColor: bc[index]
        };
        productChart.data.datasets.push(newDataSet);
        productChart.update();
    };
    /*]]>*/
</script>